[Unit]
Description=A service that check todays names in Sweden and print to a file

[Service]
WorkingDirectory=%h/name_day
ExecStart=/usr/bin/python3 __main__.py

[Install]
WantedBy=multi-user.target
